.App {
  text-align: center;
  width: 100%;
}

.app__form {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #ADD8E6;
  width: 80%;
  margin: 20px;
  
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;  
}

.app_input {
  flex: 1 ;
}

.app_iconButton {
  flex: 0 ;
}
