.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message_user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message_userCard {
    background-color: #0b81ff !important;    
    color: white !important;
    border-radius: 20px!important;
    box-shadow: none!important;     
}

.message_guestCard {
    background-color: rgba(233, 233, 235, 0.7) !important;
    color: black !important;
    border-radius: 20px!important;
    box-shadow: none!important;
}